<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project FOX</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 id="project-title">Project FOX</h1>
        <img src="{{ url_for('static', filename='logo-fox.png') }}" alt="FOX Logo" id="logo" data-xof-src="{{ url_for('static', filename='logo-xof.png') }}">
        <p id="fact"></p>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>